.page {
  max-width: 1600px;
  min-width: 1100px;
  font-size: 16px;
  line-height: 20px;
  font-family: "Inter", "Arial", sans-serif, "Noto serif", "Times New Roman",
    serif;
  margin: 0 auto;
}

.header {
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  position: relative;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  top: 30px;
  left: 30px;
}

.nav__links {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  column-gap: 20px;
  list-style-type: none;
  margin: 30px 80px 0;
}

.nav__link {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
}

.header__title {
  max-width: 709px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
  display: flex;
  flex-direction: column;
  margin-top: 183px;
  margin-left: 80px;
  margin-bottom: 0;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  color: #2f80ed;
  font-style: italic;
  font-weight: normal;
  line-height: 72px;
  font-size: 58px;
}

.header__description {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
  margin-top: 28px;
  margin-left: 80px;
  margin-bottom: 0;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header__footer {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  position: absolute;
  left: 80px;
  bottom: 40px;
}

.header__paragraph {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 0;
  margin-top: 0;
}

.header__paragraph-address {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  position: absolute;
  right: 80px;
  bottom: 40px;
  margin-top: 0;
  margin-bottom: 0;
}

.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
}

.recipes__title {
  max-width: 580px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  padding-top: 100px;
  padding-left: 80px;
  margin: 0;
}

.recipes__subtitle {
  max-width: 438px;
  font-family: "Noto serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-top: 24px;
  margin-left: 80px;
  margin-bottom: 0;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  column-gap: 40px;
  list-style-type: none;
  margin-top: 80px;
  margin-bottom: auto;
}

.recipes__video-item {
  margin-bottom: 215px;
}

.recipes__iframe {
  border: none;
  width: 480px;
  height: 273px;
}

.recipes__video-caption {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-top: 24px;
  margin-bottom: 0;
}

.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.reservation__title {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  padding-top: 100px;
  padding-bottom: 80px;
  margin: 0;
}

.reservation__form {
  max-width: 385px;
}

.form__fieldset {
  border: 0;
}

.form__label {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  padding-top: 32px;
  padding-bottom: 8px;
}

.form__input {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  height: 60px;
  max-width: 385px;
}

.form__input::placeholder {
  padding: 15px 20px;
}

.form__input[type="datetime-local"] {
  padding: 15px 20px;
}

.form__button {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  max-width: 385px;
  height: 60px;
  border: 0;
  width: 100%;
  color: white;
  margin-top: 32px;
}

.form__button:hover {
  opacity: 0.7;
}

.form__button[type="submit"] {
  background-color: #2f80ed;
}

.form__checkbox {
  border-radius: 2px;
  border: 0;
  padding-bottom: 120px;
  display: flex;
  justify-content: space-evenly;
}

.form__input[type="checkbox"] {
  height: 20px;
  width: 20px;
}

.form__checkbox_text {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  position: relative;
  left: 12px;
}
